In [1]:
import pandas as pd

In [3]:
salaries = pd.read_csv("salaries_by_college_major.csv")

In [13]:
cleaned_df = salaries.dropna()

In [14]:
cleaned_df.columns

Index(['Undergraduate Major', 'Starting Median Salary',
       'Mid-Career Median Salary', 'Mid-Career 10th Percentile Salary',
       'Mid-Career 90th Percentile Salary', 'Group'],
      dtype='object')

In [18]:
cleaned_df["Starting Median Salary"][43]

74300.0

In [20]:
cleaned_df.loc[43]

Undergraduate Major                  Physician Assistant
Starting Median Salary                           74300.0
Mid-Career Median Salary                         91700.0
Mid-Career 10th Percentile Salary                66400.0
Mid-Career 90th Percentile Salary               124000.0
Group                                               STEM
Name: 43, dtype: object

In [34]:
print(f"What college major has the highest mid-career salary  is  {cleaned_df.iloc[8][5]}")

What college major has the highest mid-career salary  is  STEM

In [38]:
cleaned_df["Starting Median Salary"].idxmin()

49

In [42]:
cleaned_df.iloc[49]

Undergraduate Major                  Spanish
Starting Median Salary               34000.0
Mid-Career Median Salary             53100.0
Mid-Career 10th Percentile Salary    31000.0
Mid-Career 90th Percentile Salary    96400.0
Group                                   HASS
Name: 49, dtype: object

In [41]:
print(f"What college major has the highest mid-career salary  is  {cleaned_df.iloc[49][5]}")

What college major has the highest mid-career salary  is  HASS

In [37]:
cleaned_df["Starting Median Salary"].mean()

44310.0

In [43]:
# usage of "groupby method"

cleaned_df.groupby("Group").count()

,Undergraduate Major,Starting Median Salary,Mid-Career Median Salary,Mid-Career 10th Percentile Salary,Mid-Career 90th Percentile Salary
Group,,,,,
Business,12,12,12,12,12
HASS,22,22,22,22,22
STEM,16,16,16,16,16

In [45]:
pd.options.display.float_format = '{:,.2f}'.format 
cleaned_df.groupby("Group").mean()

,Starting Median Salary,Mid-Career Median Salary,Mid-Career 10th Percentile Salary,Mid-Career 90th Percentile Salary
Group,,,,
Business,"44,633.33","75,083.33","43,566.67","147,525.00"
HASS,"37,186.36","62,968.18","34,145.45","129,363.64"
STEM,"53,862.50","90,812.50","56,025.00","157,625.00"